## Importing the modules
- pandas for read data from csv
- matplotlib for visulazation of data
- numpy for computing operation on dataframes

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## Read data from csv

In [3]:
elec = pd.read_csv('data/percentage-of-schools-with-electricity-2013-2016.csv')
elec.head()

,State_UT,year,Primary_Only,Primary_with_U_Primary,Primary_with_U_Primary_Sec_HrSec,U_Primary_Only,U_Primary_With_Sec_HrSec,Primary_with_U_Primary_Sec,U_Primary_With_Sec,Sec_Only,Sec_with_HrSec.,HrSec_Only,All Schools
0,Andaman & Nicobar Islands,2013-14,82.42,96.05,100.00,0.0,100.00,100.00,0.00,0.00,100.00,0.00,88.86
1,Andaman & Nicobar Islands,2014-15,80.72,96.30,100.00,100.0,100.00,100.00,0.00,0.00,100.00,0.00,88.89
2,Andaman & Nicobar Islands,2015-16,82.11,97.62,100.00,0.0,100.00,100.00,0.00,0.00,100.00,0.00,90.10
3,Andhra Pradesh,2013-14,87.66,93.57,99.32,100.0,67.48,96.19,96.15,97.50,100.00,91.27,90.34
4,Andhra Pradesh,2014-15,91.08,94.70,100.00,100.0,86.11,97.60,97.11,93.55,83.33,93.21,92.76

## Now take a look on data and find some information about the all features

In [4]:
elec.shape

(110, 13)

### 1. Data has 110 row and 13 features

In [5]:
elec.dtypes

State_UT                             object
year                                 object
Primary_Only                        float64
Primary_with_U_Primary              float64
Primary_with_U_Primary_Sec_HrSec    float64
U_Primary_Only                      float64
U_Primary_With_Sec_HrSec            float64
Primary_with_U_Primary_Sec          float64
U_Primary_With_Sec                  float64
Sec_Only                            float64
Sec_with_HrSec.                     float64
HrSec_Only                          float64
All Schools                         float64
dtype: object

### 2. Two of the features are strings(object) and rest are float.

In [8]:
elec.discribe()

AttributeError: 'DataFrame' object has no attribute 'discribe'